html {
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
  width: 100%;
}

/* Navigation */

nav {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  height: 64px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 5px 5px 5px #595959;
}

nav img {
  align-self: center;
  padding-left: 24px;
}

.logotext {
  align-self: center;
}

.navtext {
  float: right;
}

.academy {
  color: #d8d8d8;
  padding-left: 0;
}

#icons {
  display: none;
}

#options {
  padding-left: 16px;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  background-color: #d8d8d8;
}

.banner img {
  width: 60%;
  height: 90%;
  padding: 32px 24px;
}

.bannertext {
  display: flex;
  flex-direction: column;
  color: #595959;
  align-self: center;
}

button {
  background-color: #595959;
  height: 40px;
  width: 64px;
  width: auto;
  font-family: Poppins, sans-serif;
  color: #ffffff;
  font-size: 16px;
}

/* Information */

.information {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.testimonial {
  width: 60%;
  height: auto;
  padding-left: 24px;
}

.testimonial img {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.testimonial h1 {
  color: #595959;
  padding-bottom: 24px;
}

.testimonial p {
  font-size: 15px;
  color: #595959;
}

.testimonial span {
  font-size: 12px;
  font-weight: bold;
  color: #595959;
}

.info_list {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding-left: 24px;
  padding-top: 32px;
}

.info_list img {
  width: 35%;
  height: 35%;
  padding-left: 16px;
  padding-right: 16px;
}

.info_text {
  display: flex;
  flex-direction: column;
  align-self: center;
  line-height: 8px;
  color: #595959;
}

.info_text a {
  color: #4285f4;
}

#guesttext {
  line-height: 13px;
}

.info_mobile {
  display: none;
}

.orientation, .campus, .guest {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 16px;
  border: solid #d8d8d8 1px;
}

.guest {
  background-color: #d8d8d8;
}
